body {
    margin: 0 3%;
}

.App {
    text-align: center;
    min-height: 100vh;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: min-content min-content min-content auto;
    grid-template-areas:
        'header'
        'navbar'
        'sorter'
        'main';
}

.App-header {
    border: 2px solid red;
    grid-area: header;
}

.App-nav {
    border: 2px solid green;
    grid-area: navbar;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 100px;
    grid-template-rows: 100%;
}

.App-sorter {
    border: 2px solid orangered;
    grid-area: sorter;
}

.App-sorter ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 100%;
}

.App-main {
    border: 2px solid green;
    grid-area: main;
    display: grid;
    grid-template-columns: 100%;
}

.App-article-card {
    border: 2px solid red;
}

.App-comment-card {
    border: 2px solid darkslategrey;
}