body {
    margin: 0 3%;
}

h1 {
    text-transform: uppercase;
    font-weight: bold;
    font-size: xx-large;
    color: white;
    -webkit-text-stroke: 2px darkgoldenrod;
}

h2 {
    text-transform: uppercase;
    color: white;
    font-size: small;
}

.App {
    text-align: center;
    min-height: 100vh;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: min-content min-content min-content auto;
    grid-template-areas:
        'header'
        'navbar'
        'sorter'
        'main';
}

.App > * {
    padding: 10px;
}

.App-header {
    border: 2px solid red;
    grid-area: header;
    background-color: darkblue;
}

.App-nav {
    border: 2px solid green;
    grid-area: navbar;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 100px;
    grid-template-rows: 100%;
}

.App-sorter {
    border: 2px solid orangered;
    grid-area: sorter;
}

.App-sorter ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 100%;
}

.App-main {
    border: 2px solid green;
    grid-area: main;
    display: grid;
    grid-template-columns: 100%;
    background-color: darkgray;
}

.App-article-card {
    border: 2px solid red;
    margin: 10px;
    background-color: white;
}

.App-comment-card {
    border: 2px solid darkslategrey;
    background-color: lightgrey;
}

.App-article-card > .App-comment-card {
    margin: 10px;
}

.App-vote-bar {
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr min-content;
    grid-template-rows: min-content;
}

.App-user-card {
    border: 2px solid #5adface5;
    place-items: center;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: min-content min-content;
}